:root {
    --main-bg-color: #121212;
    --backgroundUrl: url("/img/background.webp");
    --r6DB-logo-small: url("/img/socialmedia_icons.svg#r6db");
    --r6DB-logo-large: url("/img/statsdb-light-logo.svg");
    --sec-bg-color: #FFFFFF14;
    --th-bg-color: #090909;
    --selected-btn-text: #888;
    --overlay-color: #000;
    --shadow-color: #000;
    --main-text-color: #F3F3F3;
    --dropdown-btn-color: #F3F3F3;
    --sec-text-color: #FFFFFF99;
    --sec-text-hover-color: #FFFFFF61;
    --darker-btn-color: #FFFFFF1E;
    --darker-btn-hover-color: #FFFFFF33;
    --close-button: #E11022;
    --accent-color: #006CF9FF;
    --darkest-hover-color: #FFFFFF14;
    --inner-circle-color: #0000FF;
    --dropdown: #FFFFFF;
    --scrollbar-main-color: #121212;
    --image-bg-color: #181818;
}
