<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension="." mimeType="text/plain" />
            <mimeMap fileExtension=".log" mimeType="text/plain" />
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^robots\.txt$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^test.r6lookup.com$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="subdomain-robots.txt" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^admin/requestinfo?id=(.+)$" ignoreCase="false" />
                    <action type="Rewrite" url="/admin/requestinfo.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^adminpage$" ignoreCase="false" />
                    <action type="Redirect" url="https://www.r6lookup.com:2083/frontend/paper_lantern/index.html" redirectType="Found" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^r6lookup.com" />
                    </conditions>
                    <action type="Redirect" url="http://www.r6lookup.com/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^player/(.+)/(.+)$" ignoreCase="false" />
                    <action type="Rewrite" url="player.php?id={R:1}&amp;platform={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^profile/customize$" ignoreCase="false" />
                    <action type="Rewrite" url="account/panel.php?window=customize&amp;secwindow=customize" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^profile/requests$" ignoreCase="false" />
                    <action type="Rewrite" url="account/panel.php?window=requests&amp;secwindow=requests" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^profile/(.+)/(.+)$" ignoreCase="false" />
                    <action type="Rewrite" url="account/panel.php?window={R:1}&amp;secwindow={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^([^\.]+)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network host="" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
