#in-desktop {
    .body-top {
        text-align: center;

        .text {
            color: var(--main-text-color);

            h1 {
                font-size: 28px;
                margin: 0;
                padding: 40px 30px 0;
            }

            h4 {
                margin: 0;
                padding-bottom: 2px;
                font-weight: normal;
                padding: 10px 30px 20px;
            }
        }

        #overwolf-status,
        #internet-status {
            display: none;
            color: var(--accent-color);
        }
    }

    .body-center {
        text-align: center;
        display: flex;
        justify-content: center;

        div {
            padding: 5px;
            background: var(--darker-btn-color);
            border-radius: 6px;
            width: 130px;
            margin: 0 20px;
            cursor: pointer;

            &:hover {
                background: var(--darkest-hover-color);
            }
        }
    }

    .body-bottom {
        display: flex;
        margin: 35px 0;

        .left-body {
            width: 400px;
            height: 300px;
            width: 50%;
            margin: auto;

            .ad-desktop {
                margin: auto;
            }
        }

        .right-body {
            display: flex;
            flex-wrap: wrap;
            width: 50%;

            .button-div {
                height: 132px;
                padding: 20px;

                svg {
                    color: var(--main-text-color);
                    height: 80px;
                    width: 80px;
                    padding: 30px;
                    border: 1px solid var(--main-text-color);
                    border-radius: 10px;

                    &:hover {
                        background: var(--darkest-hover-color);
                        transition: ease-in-out 0.1s;
                    }
                }
            }
        }
    }
}
