* {
    touch-action: manipulation;
    user-select: none;
    margin: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;

    body {
        font-family: "Roboto";
        background: var(--main-bg-color) var(--backgroundUrl) no-repeat fixed center center;
        color: var(--main-text-color);
        overflow: hidden;
        height: 100%;

        main {
            height: calc(100% - 32px);
            transform-origin: top left;
        }
    }
}

:focus {
    outline: none;
}

.ad-400x300 {
    width: 400px;
    height: 300px;
    background: var(--r6DB-logo-large) no-repeat center center;
    background-size: 75%;
}

.md-whiteframe-1dp {
    box-shadow:  0px 1px 3px 0px rgba(var(--shadow-color), 0.2),
    0px 1px 1px 0px rgba(var(--shadow-color), 0.14),
    0px 2px 1px -1px rgba(var(--shadow-color), 0.12);
}
.md-whiteframe-2dp {
    box-shadow:  0px 1px 5px 0px rgba(var(--shadow-color), 0.2),
    0px 2px 2px 0px rgba(var(--shadow-color), 0.14),
    0px 3px 1px -2px rgba(var(--shadow-color), 0.12);
}
.md-whiteframe-3dp {
    box-shadow:0px 1px 8px 0px rgba(var(--shadow-color), 0.2),
    0px 3px 4px 0px rgba(var(--shadow-color), 0.14),
    0px 3px 3px -2px rgba(var(--shadow-color), 0.12);
}
// .md-whiteframe-4dp {
//     box-shadow: 0px 2px 4px -1px rgba(var(--shadow-color), 0.2),
//     0px 4px 5px 0px rgba(var(--shadow-color), 0.14),
//     0px 1px 10px 0px rgba(var(--shadow-color), 0.12);
// }
// .md-whiteframe-5dp {
//     box-shadow: 0px 3px 5px -1px rgba(var(--shadow-color), 0.2),
//     0px 5px 8px 0px rgba(var(--shadow-color), 0.14),
//     0px 1px 14px 0px rgba(var(--shadow-color), 0.12);
// }
// .md-whiteframe-6dp {
//     box-shadow: 0px 3px 5px -1px rgba(var(--shadow-color), 0.2),
//     0px 6px 10px 0px rgba(var(--shadow-color), 0.14),
//     0px 1px 18px 0px rgba(var(--shadow-color), 0.12);
// }
// .md-whiteframe-7dp {
//     box-shadow: 0px 4px 5px -2px rgba(var(--shadow-color), 0.2),
//     0px 7px 10px 1px rgba(var(--shadow-color), 0.14),
//     0px 2px 16px 1px rgba(var(--shadow-color), 0.12);
// }
// .md-whiteframe-8dp {
//     box-shadow: 0px 5px 5px -3px rgba(var(--shadow-color), 0.2),
//     0px 8px 10px 1px rgba(var(--shadow-color), 0.14),
//     0px 3px 14px 2px rgba(var(--shadow-color), 0.12);
// }
// .md-whiteframe-16dp {
//     box-shadow: 0px 8px 10px -5px rgba(var(--shadow-color), 0.2),
//     0px 16px 24px 2px rgba(var(--shadow-color), 0.14),
//     0px 6px 30px 5px rgba(var(--shadow-color), 0.12);
// }
.md-whiteframe-24dp {
    box-shadow: 0px 11px 15px -7px rgba(var(--shadow-color), 0.2),
    0px 24px 38px 3px rgba(var(--shadow-color), 0.14),
    0px 9px 46px 8px rgba(var(--shadow-color), 0.12);
}
