* {
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    color: var(--main-text);
    font-size: 1em;
    line-height: 1.4;
}

body {
    display: block;
    overflow: hidden;
    background: var(--gray);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 8fr;
    grid-template-rows: 60px 1fr;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
