/* COLORS */
:root {
    --main-text: #c5c8c6;
    --very-light-gray: #c5c8c6;
    --light-gray: #969896;
    --gray: #373b41;
    --hover-grey: #3b3f45;
    --dark-gray: #282a2e;
    --very-dark-gray: #1d1f21;

    --cyan: #8abeb7;
    --blue: #81a2be;
    --purple: #b294bb;
    --green: #86bd68;
    --red: #cc6666;
    --orange: #de935f;
    --light-orange: #f0c674;
}
